/* h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

h2 {
  padding: 200px 50px 50px 400px;
  color: rgb(220, 142, 224);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}
h3 {
  padding: 10px 300px;
  color: rgb(220, 142, 224);
  font-size: 25px;
}

img {
  width: 125px;
  float: left;
  width: 100px;
  height: 100px;
}

.meditatepic {
  padding: 100px 0px 0px 150px;
  width: 200px;
  height: 200px;
}

header,
footer {
  width: 100%;
  position: fixed;
  background: #c4fffb;
  padding: 10px 10px;
  color: rgb(220, 142, 224);
}
header {
  top: 0;
  left: 0;
}

.buttons {
  padding: 20px 10px 10px 150px;
  margin: 100px 100px 100px 100px;
  display: inline-block;
}

.button1 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 150px;
}
.button2 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
}
.button3 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
}
.button4 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
}
.button5 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
} */

/* button:hover {
  background-color: rgb(247, 155, 250);

  border: none;
  color: rgb(245, 242, 242);
  padding: 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px; */
  /* box-shadow: inset 0 0 60px #fff,  */
  /* inner white */ 
  /* inset 20px 0 40px #f0f, */
    /* inner left magenta short */ 
    /* inset -20px 0 30px #0ff, */
    /* inner right cyan short */ 
    /* inset 20px 0 300px #f0f, */
    /* inner left magenta broad */ 
    /* inset -20px 0 300px #0ff, */
    /* 0 0 20px 20px rgb(244, 246, 184),  */
    /* inner white */
     /* 0 0 70px 40px #f0f, */
    /* middle magenta */ 
    /* 0 0 90px 50px #0ff;  */
    /* outer cyan */
/* } */

/* button:hover{
      border-color: hotpink;
    } */

/* button {
  transition: all 0.5s ease-in;
}

.feeling {
  padding: 100px 10px 1px 400px;
} */


html {
  box-sizing: border-box;
  background-color: #FAF6F1;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  font-family: 'Dongle', sans-serif;
  max-width: 1060px;
  margin: 0 auto;
}

.text-color-hanami-pink {
  color: #F4B7E9;
}

.text-color-jordy-blue, nav a, #entries-list li > div div:nth-child(1) h3 {
  color: #91B8F3;
}

.text-color-desert-sand, nav a:hover {
  color: #F3CEAD;
}

.text-color-old-lavender, #entries-list li > div div:nth-child(2) h4 {
  color: #79667D;
}

header, nav ul, .intro-content, #journal-content, #entries-list li > div{
  display: flex;
}

/* Header */
header {
  align-items: end;
  border-bottom: 2px solid #E6E6E7;
}

h1 img {
  width: 250px;
}

h1 {
  height: 60px;
  margin-bottom: 0;
}

nav {
  width: 500px;
}

nav ul{
  list-style: none;
  font-size: 2.1rem;
  justify-content: space-around;
  margin: 0;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}


/* Main */
.intro-content, #journal-content {
  justify-content: space-between;
}

.intro{
  margin-top: 30px;
  padding: 30px;
  width: 524px;
}

.intro h2 {
  font-size: 4.9rem;
  margin-bottom: 0;
  line-height: 0.7;
}

.intro p {
  font-size: 2.4rem;
  line-height: 0.9;
  margin-top: 46px;
  margin-bottom: 66px;
}

.intro a:first-of-type {
  background-color: #F4B7E9;
}

.intro a {
  background-color: #C4FFFB;
  border: none;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
}

.intro a img {
  width: 33px;
  margin-bottom: -12px;
}

.girl-meditate {
  text-align: center;
}

.girl-meditate img {
  width: 272px;
}

.right-content {
  margin-top: 112px;
  margin-bottom: 30px;
}

.quote-container{
  background-color: #e8edf4cf;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 10px;
  width: 410px;
  padding: 6px 25px;
}

.quote-container h3 {
  font-size: 3rem;
  margin: 0;
}

.quote-container p:nth-child(2){
  font-size: 1.8rem;
  margin: 0;
  line-height: 0.7;
}

.quote-container p:nth-child(3) {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: end;
  margin: 0;
}

/* Journal */
#journal-content {
  align-items: center;
  margin: 10px 28px;
}

#journal-content h2, #form-content h2{
  font-size: 3.8rem;
  color: #91B8F3;
  margin: 0;
}

.plus-button {
  width: 40px;
  height: 40px;
  font-size: 1.4rem!important;
  border: none;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  color: #2D3F32!important;
  background-color: #ABF2BC!important;
}

.plus-button:hover {
  color: #ABF2BC!important;
  background-color: #2D3F32!important;
}

/* Entries */
#entries {
  font-size: 1.8rem;
  justify-content: space-around;
  margin: 0 22px;
}

#entries-list {
  padding: 0;
}

#entries-list li {
  background-color: #FFFFFF;
  list-style: none;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 15%) 2.4px 2.4px 3.2px;
  padding: 10px 24px;
  line-height: 1;
  margin-top: 14px;
}

#entries-list li > p:nth-child(1){
  text-align: end;
  margin: 0;
  color: #A3A3A3;
}

#entries-list li > div div:nth-child(1) {
  width: 25%;
}

#entries-list li > div div:nth-child(1) h3 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

#entries-list li > div div:nth-child(1) p {
  text-align: center;
  margin: 0;
}

#entries-list li > div div:nth-child(1) img {
  width: 70px;
  height: 70px;
}

#entries-list li > div div:nth-child(2) {
  width: 75%;
}

#entries-list li > div div:nth-child(2) h4 {
  margin: 14px 0 0 0;
} 

#entries-list li > div div:nth-child(2) p {
  margin: 0;
}

#entries-list li > div div:nth-child(2) button {
  background-color: #F4B7E9;
  border: 0;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
  margin-left: 86%;
}

/* Form */
#entry-form {
  width: 600px !important;
  margin: 0 auto;
  font-size: 2.4rem;
  color: #00000091;
}

#form-content {
  display: none;
}

#form-content h2 {
  text-align: center;
  line-height: 1;
  margin-top: 90px;
  margin-bottom: 34px;
}

#titleText, #mood-selection {
  outline: none;
  font-size: 1rem;
  padding: 5px 5px 5px 25px;
  position: relative;
  width: 80%;
  height: 3rem;
  background-color: var(--search-box-bg, #FFFFFF);
  border: 1px #FFFFFF solid;
  border-radius: 15px;
}

#mood-selection {
  width: 150px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

#mood-entry {
  outline: none;
  font-size: 1rem;
  padding: 25px;
  border: 1px #FFFFFF solid;
  border-radius: 15px;
}

#cancel-button, #submit-entry-button {
  width: 6rem;
  height: 3rem;
  background-color: #ABF2BC;
  color: #2D3F32;
  border: 1px #faf6f1 solid;
  padding: 5px;
  font-size: 1rem;
  font-weight: bolder;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}

#cancel-button {
  background-color: #E6E6E7;
  color: #2D3F32;
}


/* About */
#about-page h2 {
  font-size: 4.5rem;    
  margin: 33px 20px 38px 50px;
}

#about-content {
  width: 410px;
  line-height: 1;
  font-weight: bolder;
  color: #79667D;
  font-size: 2rem;
  margin-left: 100px;
  margin-top: 0;
}

#about-page h2:nth-last-child(2) {
  text-align: center;
}

#team-members {
  display: flex;
  justify-content: space-around;
  margin: 0 140px;
}

#team-members img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

/* Footer */
